<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="ActionEngineBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint binding="customBinding" bindingConfiguration="ActionEngineBinding"
                contract="ActionEnginePort" name="ActionEngineBinding_ActionEnginePort" />
        </client>
    </system.serviceModel>
</configuration>