<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="RuleEngineBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="AnalyticsEngineBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint binding="customBinding" bindingConfiguration="RuleEngineBinding"
                contract="RuleEnginePort" name="RuleEngineBinding_RuleEnginePort" />
            <endpoint binding="customBinding" bindingConfiguration="AnalyticsEngineBinding"
                contract="AnalyticsEnginePort" name="AnalyticsEngineBinding_AnalyticsEnginePort" />
        </client>
    </system.serviceModel>
</configuration>