<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="AnalyticsDeviceBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint binding="customBinding" bindingConfiguration="AnalyticsDeviceBinding"
                contract="AnalyticsDevicePort" name="AnalyticsDeviceBinding_AnalyticsDevicePort" />
        </client>
    </system.serviceModel>
</configuration>