<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="DeviceIOBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="DeviceBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="MediaBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint binding="customBinding" bindingConfiguration="DeviceIOBinding"
                contract="DeviceIOPort" name="DeviceIOBinding_DeviceIOPort" />
            <endpoint binding="customBinding" bindingConfiguration="DeviceBinding"
                contract="Device" name="DeviceBinding_Device" />
            <endpoint binding="customBinding" bindingConfiguration="MediaBinding"
                contract="Media" name="MediaBinding_Media" />
        </client>
    </system.serviceModel>
</configuration>