<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="PullPointSubscriptionBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="EventBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="SubscriptionManagerBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="NotificationProducerBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="NotificationConsumerBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="PullPointBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CreatePullPointBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="PausableSubscriptionManagerBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint binding="customBinding" bindingConfiguration="PullPointSubscriptionBinding"
                contract="PullPointSubscription" name="PullPointSubscriptionBinding_PullPointSubscription" />
            <endpoint binding="customBinding" bindingConfiguration="EventBinding"
                contract="EventPortType" name="EventBinding_EventPortType" />
            <endpoint binding="customBinding" bindingConfiguration="SubscriptionManagerBinding"
                contract="SubscriptionManager" name="SubscriptionManagerBinding_SubscriptionManager" />
            <endpoint binding="customBinding" bindingConfiguration="NotificationProducerBinding"
                contract="NotificationProducer" name="NotificationProducerBinding_NotificationProducer" />
            <endpoint binding="customBinding" bindingConfiguration="NotificationConsumerBinding"
                contract="NotificationConsumer" name="NotificationConsumerBinding_NotificationConsumer" />
            <endpoint binding="customBinding" bindingConfiguration="PullPointBinding"
                contract="PullPoint" name="PullPointBinding_PullPoint" />
            <endpoint binding="customBinding" bindingConfiguration="CreatePullPointBinding"
                contract="CreatePullPoint" name="CreatePullPointBinding_CreatePullPoint" />
            <endpoint binding="customBinding" bindingConfiguration="PausableSubscriptionManagerBinding"
                contract="PausableSubscriptionManager" name="PausableSubscriptionManagerBinding_PausableSubscriptionManager" />
        </client>
    </system.serviceModel>
</configuration>