<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="ImagingBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint binding="customBinding" bindingConfiguration="ImagingBinding"
                contract="ImagingPort" name="ImagingBinding_ImagingPort" />
        </client>
    </system.serviceModel>
</configuration>