<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="ReceiverBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint binding="customBinding" bindingConfiguration="ReceiverBinding"
                contract="ReceiverPort" name="ReceiverBinding_ReceiverPort" />
        </client>
    </system.serviceModel>
</configuration>