<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="RecordingBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint binding="customBinding" bindingConfiguration="RecordingBinding"
                contract="RecordingPort" name="RecordingBinding_RecordingPort" />
        </client>
    </system.serviceModel>
</configuration>