<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="RemoteDiscoveryBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="DiscoveryLookupBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint binding="customBinding" bindingConfiguration="RemoteDiscoveryBinding"
                contract="RemoteDiscoveryPort" name="RemoteDiscoveryBinding_RemoteDiscoveryPort" />
            <endpoint binding="customBinding" bindingConfiguration="DiscoveryLookupBinding"
                contract="DiscoveryLookupPort" name="DiscoveryLookupBinding_DiscoveryLookupPort" />
        </client>
    </system.serviceModel>
</configuration>