<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="ReplayBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint binding="customBinding" bindingConfiguration="ReplayBinding"
                contract="ReplayPort" name="ReplayBinding_ReplayPort" />
        </client>
    </system.serviceModel>
</configuration>